html, body {
  height: 100%;
}

.logo {
	max-width: 125px;
}

.logo > img {
	display: block;
	max-width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.vertical-align {
  display: flex;
  align-items:center;
}

.red {
	font-weight: bold;
	color: red;
}

.nav-link {
	color: black;
}

.bottom-right {
	position: fixed;
	bottom: 25px;
	left: 25px;
}

.right-border {
	border-right: solid;
}

.full-container {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.last-child {
  flex: 1;
}