.logo {
	max-width: 125px;
}

.logo > img {
	display: block;
	max-width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.vertical-align {
  display: flex;
  align-items:center;
}

.red {
	font-weight: bold;
	color: red;
}

.nav-link {
	color: black;
}